@use "@site/src/css/variables.scss" as *;

.licenses {
  min-height: calc(100vh - var(--ifm-navbar-height) - var(--ifm-footer-height));

  &__container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: $spacing-xl;

    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
   
    h1 {
      @include font-size-xxl;
      font-family: $fira;
      margin: 0;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: #{$small-screen-max-width}) {
  .licenses {
    &__container {
      padding: $spacing-xl $spacing-sm;
    }
  }
}


