@use "@site/src/css/variables.scss" as *;

.moncloud-page {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: $spacing-xl;

  display: flex;
  flex-direction: column;
  gap: 120px;
}

.moncloud-hero {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  max-width: 910px;

  &__title {
    @include font-size-xxl;
    font-family: $fira;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
  }

  p {
    margin: 0;
  }

  &__subtitle {
    font-weight: 300;
    color: $accent-text;
    font-size: 14px;
  }

  &__slogan {
    font-weight: 500;
    line-height: 24px;
  }

  &__version {
    font-weight: 300;
  }
}

.moncloud-included {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  h2 {
    @include font-size-xl;
    font-family: $fira;
    font-weight: 400;
    margin: 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $spacing-md;
  }

  &__image {
    justify-self: center;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-sm;
    counter-reset: included-counter;
  }

  &__item {
    padding: $spacing-md;
    padding-right: $spacing-xl * 2;
    border-radius: $border-radius-base;
    border: 1px solid $gray-2;
    display: flex;
    flex-direction: column;
    gap: $spacing-xxs;

    position: relative;
    counter-increment: included-counter;

    &::before {
      content: counter(included-counter);
      position: absolute;
      bottom: $spacing-md;
      right: $spacing-md;
      font-weight: 700;
      font-size: 24px;
      color: $gray-1;
    }

    &:nth-child(3n + 3) {
      grid-column: span 2;
    }

    h3 {
      @include font-size-lg;
      font-family: $fira;
      font-weight: 400;
      color: $accent-text;
      margin: 0;
      line-height: 120%;
    }

    p {
      font-weight: 300;
      margin: 0;
      line-height: 24px;
      color: $accent-text;
    }

    &--inner {
      list-style-type: disc;
      list-style-position: outside;
      margin-left: $spacing-lg;

      &::marker {
        color: $accent-text;
      }
    }
  }
}

@media screen and (max-width: #{$small-screen-max-width}) {
  .moncloud-page {
    padding: $spacing-xl $spacing-xs;
  }

  .moncloud-included {
    &__image {
      display: none;
    }

    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__list {
      grid-template-columns: 1fr;
    }

    &__item {
      &:nth-child(3n + 3) {
        grid-column: auto;
      }
    }
  }
}
