@use "@site/src/css/variables.scss" as *;

.home-main {
  margin: $spacing-md;
  border-radius: $border-radius-sm;
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg * 2;
}

.hero-section {
  max-width: 1800px;
  margin: 0 auto;
  padding: $spacing-xl;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: $spacing-md * 2;

  &__banner {
    height: 400px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: $border-radius-md;
    }

    &-text {
      position: absolute;
      left: 50%;
      bottom: 40px;
      transform: translateX(-50%);
      width: calc(100% - $spacing-xl * 2);

      display: flex;
      flex-direction: column;
      gap: $spacing-sm;

      h1 {
        font-family: $fira;
        color: $basic-white;
        text-transform: uppercase;
        margin: 0;
        font-size: 118px;
        font-weight: 600;
      }

      p {
        @include font-size-lg;
        color: $basic-white;
        font-family: $breeze-condensed;
        margin: 0;
      }
    }
  }

  &__offer {
    align-self: end;
  }
}

.hero-offer {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;

  h2 {
    font-family: $fira;
    color: $accent-text;
    line-height: 100%;
    font-weight: 400;
    font-size: 64px;
    margin: 0;
  }

  span {
    align-self: flex-end;
    color: $gray-1;
    font-weight: 300;
  }

  &__wrapper {
    padding: $spacing-md;
    border: 1px solid $gray-2;
    border-radius: $border-radius-base;

    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    h3 {
      @include font-size-lg;
      font-family: $fira;
      color: $accent-text;
      font-weight: 400;
      margin: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }

  &__item {
    padding: $spacing-md;
    border: 1px solid $gray-2;
    border-radius: $border-radius-base;
    font-weight: 300;
  }
}

.included {
  max-width: 1800px;
  margin: 0 auto;
  padding: $spacing-xl;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $spacing-md;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    h2 {
      margin: 0;
      font-size: 40px;
      font-weight: 400;
      font-family: $fira;
    }

    p {
      margin: 0;
      font-weight: 300;
      line-height: 24px;
    }

    span {
      margin-top: auto;
      font-weight: 300;
      line-height: 24px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-sm;
    counter-reset: included-counter;
  }

  &__item {
    padding: $spacing-md;
    padding-right: $spacing-xl * 2;
    border-radius: $border-radius-base;
    border: 1px solid $gray-2;

    line-height: 24px;
    font-weight: 300;
    position: relative;
    counter-increment: included-counter;

    &::before {
      content: counter(included-counter);
      position: absolute;
      bottom: $spacing-md;
      right: $spacing-md;
      font-weight: 700;
      font-size: 24px;
      color: $gray-1;
    }

    &:nth-child(3n + 3) {
      grid-column: span 2;
    }
  }
}

.strengths {
  max-width: 1800px;
  margin: 0 auto;
  padding: $spacing-xl;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $spacing-md;
  }

  &__badge {
    padding: 40px 32px;
    border-radius: $border-radius-base;
    background: linear-gradient(94.49deg, $blue-1 12.11%, $blue-5 148.66%);
    position: relative;

    h2 {
      color: $basic-white;
      margin: 0;
      font-family: $fira;
      font-weight: 600;
      font-size: 53px;
      line-height: 90%;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 200px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-xs;
  }

  &__item {
    padding: $spacing-md;
    border-radius: $border-radius-base;
    border: 1px solid $gray-2;

    display: flex;
    flex-direction: column;
    gap: $spacing-xs;

    h3 {
      @include font-size-lg;
      color: $accent-text;
      margin: 0;
      font-family: $fira;
      font-weight: 400;
    }

    p {
      margin: 0;
      line-height: 140%;
      font-weight: 300;
    }

    &:nth-child(3n + 3) {
      grid-column: span 2;
    }
  }
}

@media screen and (max-width: #{$small-screen-max-width}) {
  .home-main {
    margin: $spacing-md $spacing-xs;
  }

  .hero-section {
    grid-template-columns: 1fr;
    padding: $spacing-xl $spacing-xs;
    &__banner {
      height: auto;
      min-height: 300px;

      &-text {
        h1 {
          font-size: 52px;
        }
      }
    }
  }

  .hero-offer {
    h2 {
      font-size: 40px;
    }
  }

  .included {
    padding: $spacing-xl $spacing-xs;

    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__list {
      grid-template-columns: 1fr;
    }

    &__item {
      &:nth-child(3n + 3) {
        grid-column: auto;
      }
    }
  }

  .strengths {
    padding: $spacing-xl $spacing-xs;

    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__badge {
      padding: $spacing-xl;
      padding-right: 120px;
      min-height: 120px;

      h2 {
        font-size: 32px;
      }

      img {
        width: 120px;
      }
    }

    &__list {
      grid-template-columns: 1fr;
    }

    &__item {
      &:nth-child(3n + 3) {
        grid-column: auto;
      }
    }
  }
}
