@use "@site/src/css/variables.scss" as *;

.comparison {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: $spacing-xl;

  display: flex;
  flex-direction: column;
  gap: $spacing-xl;

  h2 {
    @include font-size-xxl;
    margin: 0;
    font-weight: 400;
    font-family: $fira;
  }

  &__buttons {
    display: none;
    gap: $spacing-xs;
    border: 1px solid $gray-2;
    border-radius: $border-radius-xs;
    padding: 2px;
  }

  &__button {
    flex: 1;
    padding: $spacing-xs $spacing-md;
    border-radius: $border-radius-xs;
    border: none;
    background-color: $basic-white;
    color: $gray-1;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $gray-2;
    }

    &.active {
      color: $basic-white;
      background: linear-gradient(94.49deg, $blue-1 12.11%, $blue-5 148.66%);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-sm;
  }

  &__subject {
    padding: $spacing-xl $spacing-md;
    border: 1px solid $gray-2;
    border-radius: $border-radius-base;
    background-color: $background-color;
    box-shadow: 0px 4px 4px 0px rgba($color: $gray-1, $alpha: 0.08);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-xs;

    h3 {
      @include font-size-xl;
      color: $accent-text;
      margin: 0;
      font-family: $fira;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    width: calc(100% - $spacing-sm * 2);
  }

  &__item {
    padding: $spacing-sm;
    border-radius: $border-radius-base;
    line-height: 140%;
    font-size: 12px;
    font-weight: 300;
    background-color: $basic-white;

    display: flex;
    align-items: center;
    gap: $spacing-sm;
  }

  .openstack__item {
    &::before {
      content: "";
      display: block;
      width: 13px;
      height: 1px;
      background-color: $pseudo-color;
      flex-shrink: 0;
    }
  }

  .moncloud__item {
    &::before {
      content: "";
      display: block;
      width: 13px;
      height: 6px;
      border: 2px solid $pseudo-color;
      border-top: none;
      border-right: none;
      flex-shrink: 0;
      transform: rotate(-45deg);
    }
  }
}

@media screen and (max-width: #{$small-screen-max-width}) {
  .comparison {
    padding: $spacing-xl $spacing-xs;

    h2 {
      font-size: 32px;
    }

    &__buttons {
      display: flex;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      position: relative;
    }

    &__subject {
      padding: $spacing-lg $spacing-xs;

      &:not(.active) {
        display: none;
      }
    }

    &__list {
      width: 100%;
    }
  }
}
